<!DOCTYPE html>
<html ng-app="LyeCalculator">
<head>
<!-- Bootstrap Core CSS -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendors/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/sb-admin-2.min.css">
	<script type="text/javascript" src="vendors/lodash/dist/lodash.min.js"></script>
	<script type="text/javascript" src="vendors/angular/angular.js"></script>
	<script type="text/javascript" src="vendors/angular-translate/angular-translate.min.js"></script>
	<script type="text/javascript" src="vendors/angular-sanitize/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="vendors/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="vendors/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
	<script type="text/javascript" src="vendors/angular-i18n/angular-locale_en-us.js"></script>
	<script src="vendors/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	<script src="vendors/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
	<script src="vendors/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
	<script src="vendors/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
	<script type="text/javascript" src="vendors/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendors/angular-ui-select/dist/select.min.js"></script>
	<script type="text/javascript" src="vendors/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
	<script type="text/javascript" src="vendors/metisMenu/dist/metisMenu.min.js"></script>

	<script type="text/javascript" src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/theme/sb-admin-2.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/constants.js"></script>
	<script type="text/javascript" src="js/calculator.service.js"></script>
	<script type="text/javascript" src="index.controller.js"></script>

</head>
<body>
<div id="wrapper" ng-controller="IndexController as idxController">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
	            <!-- /.navbar-header -->

	    <ul class="nav navbar-top-links navbar-right">
	        <li class="dropdown">
	            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
	                <i class="glyphicon glyphicon-flag"></i> <i class="fa fa-caret-down"></i>
	            </a>
	            <ul class="dropdown-menu pull-right">
	                <li ng-repeat="(id, tr) in idxController.availableLanguages">
	                    <a href="#" ng-click="idxController.switchLocale(id)">
	                        <div>
	                            <img style="max-width : 20px" src="static/{{id}}.png"> {{tr}}
	                        </div>
	                    </a>
	                </li>
	               
                </ul>
                <!-- /.dropdown-messages -->
            </li>
        </ul>
        <!-- /.navbar-static-side -->
    </nav>
	<div id="page-wrapper">
		<div class="row">
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						{{"params.heading" | translate}}
					</div>
					<div class="panel-body">

						{{"params.introduction" | translate}}
						<br /><br />
						{{"params.beware" | translate}}
						<br />
						<br />
						<table class="table table-striped">
							<tr>
								<th class="col-md-6">
									{{"params.labels.table.oil" | translate}}
								</th>
								<th class="col-md-6">
									{{"params.labels.table.quantity" | translate}}
								</th>
								<th class="col-md-6">
									{{"params.labels.table.remove" | translate}}
								</th>
							</tr>
							<tr ng-repeat="oil in idxController.recipe.selectedOils track by $index">
								<td class="col-md-6">
									{{oil.name}}
								</td>
								<td class="col-md-6">
									<input type="text" ng-model="oil.quantity" />
								</td>
								<td class="col-md-6 pull-right">
									<button class="btn btn-danger glyphicon glyphicon-remove pull-right" ng-click="idxController.removeOil(oil)">
								</td>
							</tr>
						</table>
						<div class="row">
							<div class="col-md-5">
								1- {{"params.labels.choose.oil" | translate}} 
							</div>
							<div class="col-md-4">
								2- {{"params.labels.choose.quantity" | translate}} 
							</div>
						</div>

						<div class="row">
							<div class="col-md-5">
								<select multiple class="form-control" ng-options="oilInv.id as oilInv.name for oilInv in idxController.oilsList" ng-model="idxController.currentOil" style="height : 200px">
								</select>
							</div>
							<div class="col-md-4">
								<input type="text" ng-model="idxController.currentOil.quantity" /> g
							</div>
							<div class="col-md-3 pull-right">
								<button ng-click="idxController.addCurrentOil()">{{"params.buttons.add.oil" | translate}}</button>
							</div>
						</div>
					</div>
					<div class="panel-footer">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						{{"params.title" | translate}}
					</div>
					<div class="panel-body">
						<div class="panel panel-default">
							<div class="panel-body">
							<i> 
								{{"params.info.overfat" | translate}} 
								<br><br>
								{{"params.info.fragrance" | translate}} 								
							</i>
							</div>
						</div>
						<table class="table table-striped">
							<tr>
								<td class="col-md-3">
									{{"params.labels.overfat" | translate}}
								</td>
								<td class="col-md-2">
									<input type="text" size="5" name="overfat" ng-model="idxController.recipe.superFat" /> %
								</td>
								<td  class="col-md-3">
									{{"params.labels.fragrance.percentage" | translate}}
								</td>
								<td class="col-md-2">
									<input type="text" size="5" name="fragrance" ng-model="idxController.recipe.fragrance.percentage"> %
								</td>
							</tr>
							<tr>
								<td class="col-md-3">
									{{"params.labels.water.percentage" | translate}}
								</td>
								<td class="col-md-2">
									<input type="text" size="5" name="water" ng-model="idxController.recipe.water.percentage"> %
								</td>
							</tr>
						</table>
					</div>
					<div class="panel-footer">
						<button class="btn btn-outline btn-primary" ng-click="idxController.calculateLyeQuantity()" >{{"params.buttons.submit" | translate}}</button>
						<button class="btn btn-outline btn-danger" ng-click="idxController.resetForm()">{{"params.buttons.reset" | translate}}</button>
					</div>
				</div>
			</div>
		</div>
						
		<div class="row">
			<div class="{{idxController.resultClass}}" id="result-panel">
				<div class="panel-heading">
				{{"report.title" | translate}}
				</div>

				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<td>{{"report.table.lye" | translate}}</td>
							<td>{{idxController.calculatedNaOHQuantity}} g</td>
						</tr>
						<tr>
							<td>{{"report.table.oil" | translate}}</td>
							<td>{{idxController.computeOilQuantity()}} g</td>
						</tr>
						<tr>
							<td>{{"report.table.water" | translate}}</td>
							<td>{{idxController.recipe.waterQuantity}} g</td>
						</tr>
						<tr>
							<td>{{"report.table.fragrance" | translate}}</td>
							<td>{{idxController.recipe.essentialOils}} g</td>
						</tr>
					</table>
				</div>
			</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
<!--
<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                    </div>
-->
</body>
</html>